<!DOCTYPE html>
<!--
    Authors:
    Daniel Olea Martín <dom.olea@gmail.com>
    Bruno Ordozgoiti Rubio <ordozgoitipiedras@gmail.com>

    Copyright (c) 2013 Zaka the Alpaca
    All Rights Reserved.

    BANANAPPS CONFIDENTIAL
    __________________ 
    NOTICE:  All information contained herein is, and remains
    the property of Bananapps and its suppliers,  if any.  The 
    intellectual and technical concepts contained  herein are 
    proprietary to Bananapps and its suppliers and may be 
    covered by U.S. and Foreign Patents, patents in process, 
    and are protected by trade secret or copyright law. 
    Dissemination of this information or reproduction of this 
    material is strictly forbidden unless prior written 
    permission is obtained from Bananapps.
-->
<html>
    <head>
        <title>Definition</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <!-- <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>-->
        <link href="css/common.css" rel="stylesheet">
        <link href="css/word-definition.css" rel="stylesheet">
        <script src="js/jquery/jquery.js"></script>
        <script src="js/jquery/jquery.autosize.min.js"></script>
        <script src="js/ich.js"></script>
        <script src="js/zaka.js"></script>
        <script src="js/zaka.ui.js"></script>
        <script src="js/zaka.db.js"></script>
        <script src="cordova.js"></script>
        <script src="js/zaka.network.js"></script>
        <!-- ICH -->
        <script id="custom_definition" type="text/html">
            <li class="selected green">
                <textarea class="definition" rows="1" placeholder="Write your custom entry."></textarea>
            </li>
        </script>
        
        <script id="definition" type="text/html">
            {{#definitions}}
                <li class="eligible">
                    {{#type}}<span class="type">({{type}})</span> {{/type}}
                    <span class="definition">{{definition}}</span>{{#type}}.{{/type}}
                </li>
            {{/definitions}}
        </script>      
        <!-- /ICH -->
        <script>
            zaka.onReady(function(){
                var word = zaka.communication.receive("word");
                zaka.ui.scroll("ul"); 
                
                zaka.network.define(word, function(json){
                    $("#loader").css({'display': 'none'});
                    
                    if(typeof json.definitions === "undefined" || json.definitions.length === 0){
                        zaka.ui.displayMsg(
                            "It seems that the word has no entry in the dictionary." +
                            " Please, check the spelling.",
                            "Word not found",
                            "Ok"
                        );
                    } else {
                        $("#scroll ul").append(ich.definition(json));
                    }
                });

                //Capitalize (css text-transform goes mad)
                $("header span").text(zaka.ui.capitalize(word));
                
                //Mark as selected on click
                $("ul").on("click", ".eligible", function() {
                    $(this).toggleClass("green");
                });

                $("#cancel").click(function() {
                    window.history.back();
                });

                $("#save").click(function() {
                    var definitions = new Array();

                    //Get all definitions selected
                    var selected = $(".eligible.green");
                    selected.each(function() {
                        definitions.push($(this).children('.definition').text());
                    });
                    
                    selected = $(".selected.green");
                    selected.each(function() {
                        var userDef = $(this).children('.definition').val();
                        if(userDef.length > 0){
                            //risk of XSS
                            definitions.push(userDef);
                        }
                    });

                    if (definitions.length > 0) {
                        //save the word and its definitions
                        zaka.db.saveVocab(word, definitions, function() {
                            //Feedback
                            $("#save").addClass("saved");

                            var autoWidth = $("#saved_feedback").width();
                            $("#saved_feedback").css({
                                display: 'inline',
                                width: 0
                            });

                            $("#saved_feedback")
                                .animate({width: autoWidth}, 250)
                                .delay(750)
                                .animate({opacity: 0},350)
                                .delay(1000)
                                .queue(function(next) {
                                    window.history.back();
                                    next();
                                });
                        });
                    } else {
                        zaka.ui.displayMsg(
                            "Select a definition to save.",
                            "No definition selected",
                            "Ok"
                        );
                    }
                });
                
                $("#custom-def").click(function(){
                    $("ul").prepend(ich.custom_definition());
                    $("textarea.definition").autosize();
                    //Go to the top of the list
                    $("ul").css({'top' : 0});
                });
                
                //If the user leaves the custom definition empty remove the element
                $("ul").on("blur", ".selected .definition", function(){
                    if($(this).val() === ''){
                        $(this).parent().remove();
                    }
                });
            });
        </script>
    </head>
    <body>
        
        <header>
            <div id="custom-def" data-tappable="true"></div>
            <div id="word"><span></span></div>
        </header>
        <div id="decoration-oy"></div>
        <div>
            <div class="cloud" id="one"></div>
            <div class="cloud" id="two"></div>
            <div class="cloud" id="three"></div>
        </div>
        <div id="loader"></div>
        <div id="scroll">
            <ul></ul>
        </div>
        <span id="saved_feedback">Saved!</span>
        <div id="save" data-tappable="true"></div>
        <div id="cancel" data-tappable="true"></div>
        <footer id="hills"></footer>
    </body>
</html>
