<!DOCTYPE html>
<!--
    Authors:
    Daniel Olea Martín <dom.olea@gmail.com>
    Bruno Ordozgoiti Rubio <ordozgoitipiedras@gmail.com>

        Copyright (c) 2013 Zaka the Alpaca
        All Rights Reserved.

        BANANAPPS CONFIDENTIAL
        __________________ 
        NOTICE:  All information contained herein is, and remains
        the property of Bananapps and its suppliers,  if any.  The 
        intellectual and technical concepts contained  herein are 
        proprietary to Bananapps and its suppliers and may be 
        covered by U.S. and Foreign Patents, patents in process, 
        and are protected by trade secret or copyright law. 
        Dissemination of this information or reproduction of this 
        material is strictly forbidden unless prior written 
        permission is obtained from Bananapps.
-->
<html>
    <head>
        <title>Definition</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <!-- <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>-->
        <link href="css/common.css" rel="stylesheet">
        <link href="css/word-parade.css" rel="stylesheet">
        <script src="js/jquery/jquery.js"></script>
        <script src="js/ich.js"></script>
        <script src="js/zaka.js"></script>
        <script src="js/zaka.ui.js"></script>
        <script src="js/zaka.db.js"></script>
        <script src="cordova.js"></script>
        <script id="question" type="text/html">
            <p>{{definition}}</p>
        
            <div id="answers" data-correct="{{correctAnswer}}">
                {{#words}}
                <div class="eligible">{{.}}</div>
                {{/words}}
            </div>
        </script>
    </head>
    <body>
        <script>
                    
            function randomize(array){
                //Sake it! Babe
                for(var i = 0; i < array.length; i++){
                    var rand1 = Math.floor(Math.random() * array.length);
                    var rand2 = Math.floor(Math.random() * array.length);
                    
                    var copy = array[rand1];
                    array[rand1] = array[rand2];
                    array[rand2] = copy;
                }

                return array;
            }
            
            function nextVocab(){
                //Get some words to choose one later as question
                zaka.db.getOrderedWords(zaka.MIN_WORDS_WORD_PARADE, function(words){
                    words = randomize(words);

                    //Choose one randomly and mark it as showed
                    var word = words[0];
                    zaka.db.markAsShowed(word);

                    //Get its definition
                    zaka.db.getDefinition(word, function(definitions){
                        //Choose randomly one of its definitions
                        var def = randomize(definitions)[0];
                        //Hide the word
                        var regex = new RegExp(word, "gi");            
                        def = def.replace(regex, "\*\*\*");
                        
                        if(def.length > 125){
                            def = def.substring(0, 125) + "...";
                        }
                        
                        //Get padding words
                        zaka.db.getOrderedWords(
                            10, 
                            function(words){
                                words = randomize(words);
                                //Eject words not needed 
                                words.splice(zaka.MIN_WORDS_WORD_PARADE, words.length - zaka.MIN_WORDS_WORD_PARADE);
                                //Chosen by fair dice roll.
                                words[2] = word;
                                //To avoid the answer always being the 2nd
                                words = randomize(words);

                                var question = {
                                    definition: def,
                                    words: words,
                                    correctAnswer: word
                                }

                                //Build the html
                                $("#quizz").html(ich.question(question));
                            }, 
                            word
                        );
                    })
                });
            }
            
            function wordSelected(){
                //Avoid the user marking more than one answer
                $("#quizz").off("click", ".eligible", wordSelected);
                
                var correctAnswer = $("#answers").data('correct');

                $("#quizz .eligible").each(function(){

                    //Mark the correct answer
                    if($(this).text() === correctAnswer){
                        $(this).addClass('green');
                    }
                });

                //If the user picked an incorrect answer mark it accordingly
                if($(this).text() !== correctAnswer){
                    $(this).addClass('red');
                    window.setTimeout(newQuestion, 2000);
                } else {
                    window.setTimeout(newQuestion, 750);
                }
            }
            
            function newQuestion(){
                nextVocab();
                //Re-allow answer selection
                $("#quizz").on("click", ".eligible", wordSelected);
            }
            
            zaka.onReady(function() {
                newQuestion();

                $("#cancel").click(function() {
                    window.history.back();
                });
            });
        </script>
        <header>
            <span>Word Parade</span>
        </header>
        <div id="decoration-oy"></div>
        <div>
            <div class="cloud" id="one"></div>
            <div class="cloud" id="two"></div>
            <div class="cloud" id="three"></div>
        </div>
        <div id="quizz"></div>
        <div id="cancel" data-tappable="true"></div>
        <footer id="hills"></footer>
    </body>
</html>