/*
Authors:
Daniel Olea Martín <dom.olea@gmail.com>
Bruno Ordozgoiti Rubio <ordozgoitipiedras@gmail.com>

Copyright (c) 2013 Zaka the Alpaca
All Rights Reserved.

BANANAPPS CONFIDENTIAL
__________________ 
NOTICE:  All information contained herein is, and remains
the property of Bananapps and its suppliers,  if any.  The 
intellectual and technical concepts contained  herein are 
proprietary to Bananapps and its suppliers and may be 
covered by U.S. and Foreign Patents, patents in process, 
and are protected by trade secret or copyright law. 
Dissemination of this information or reproduction of this 
material is strictly forbidden unless prior written 
*/

/*TODO: local*/
@import url('http://fonts.googleapis.com/css?family=Chicle');

*{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

a{
    color: inherit;
    text-decoration: none;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

header{
    width: 100%;
    height: 70px;
    /* must be recalculated if height changes */
    line-height: 67px; 
    font-family: 'Chicle';
    font-size: 43px;
    position: relative;    
}

body{
    background-color: #43C8E8;
    font-family: Arial;
    font-size: 22px;
}

.cloud{
    position: absolute;
    z-index: -2;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.cloud#one{
    width: 105px;
    height: 71px;
    background-image: url("../rsc/common/cloud1.png"); 
    bottom: 118px;
    left: 63%;
}

.cloud#two{
    width: 81px;
    height: 41px;
    background-image: url("../rsc/common/cloud2.png"); 
    top: 200px;
    left: 13%;
}

.cloud#three{
    width: 106px;
    height: 78px;
    background-image: url("../rsc/common/cloud3.png"); 
    bottom: 370px;
    left: 53%;
}

.eligible, .selected{
    background-color: white;
    opacity: 0.8;
    border: 3px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    color: black;
}

.selected.green, .eligible.green{
    border-color: #00C000;
    color: #008A00;
}

.eligible.red{
    border-color: #FF0000;
    color: #FF2D2D;
}

#decoration-oy{
    width: 100%;
    height: 19px;
    background: url('../rsc/common/triangles-oy.png') 0 0 repeat-x transparent;
}

#cancel{
    width: 63px;
    height: 56px;
    background: url('../rsc/common/cancel-button.png') 0 0 transparent no-repeat;
    bottom: 28px;
    left: 23px;
    z-index: 100;
    position: absolute;
}

#cancel.tapped{
    background-position: 0 -57px;
}

#hills{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 111px;
    background: url("../rsc/common/hills.png") no-repeat 50% 0 transparent;
    z-index: 0;
}

section{
    position: relative;
}