/*
   Authors:
       Daniel Olea Martín <dom.olea@gmail.com>
       Bruno Ordozgoiti Rubio <ordozgoitipiedras@gmail.com>

   Copyright (c) 2013 Zaka the Alpaca
    All Rights Reserved.

   BANANAPPS CONFIDENTIAL
   __________________ 
   NOTICE:  All information contained herein is, and remains
   the property of Bananapps and its suppliers,  if any.  The 
   intellectual and technical concepts contained  herein are 
   proprietary to Bananapps and its suppliers and may be 
   covered by U.S. and Foreign Patents, patents in process, 
   and are protected by trade secret or copyright law.
   Dissemination of this information or reproduction of this 
   material is strictly forbidden unless prior written 
   permission is obtained from Bananapps.
*/

#search-word{
    padding: 15px 9px;
    position: relative;
    z-index: 100;
}

#query{
    border: 5px solid #F4E0BC;
    background-color: white;
    border-radius: 10px;
    width: 68%;
    height: 42px;
    padding: 0 5px;
    color: #CC8353;
    display: inline-block;
}

#send{
    background: url("../rsc/index/next-button.png") no-repeat 0 0 transparent;
    display: inline-block;
    height: 69px;
    overflow: hidden;
    vertical-align: middle;
    width: 75px;
    margin-left: 5px;
}

#send.tapped{
    background-position: 0 -69px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 281px;
    background: url("../rsc/index/alpaca.png") no-repeat 50% 0 transparent;
    z-index: 0;
}

#start{
    width: 244px;
    height: 52px;
    background: url("../rsc/index/play.png") no-repeat 0 0 transparent;
    margin: 207px auto;
}