/*
Authors:
Daniel Olea Martín <dom.olea@gmail.com>
Bruno Ordozgoiti Rubio <ordozgoitipiedras@gmail.com>

Copyright (c) 2013 Zaka the Alpaca
All Rights Reserved.

BANANAPPS CONFIDENTIAL
__________________ 
NOTICE:  All information contained herein is, and remains
the property of Bananapps and its suppliers,  if any.  The 
intellectual and technical concepts contained  herein are 
proprietary to Bananapps and its suppliers and may be 
covered by U.S. and Foreign Patents, patents in process, 
and are protected by trade secret or copyright law. 
Dissemination of this information or reproduction of this 
material is strictly forbidden unless prior written 
permission is obtained from Bananapps.
*/

header{
    background-color: #FF9F21;  
    border-bottom: 3px solid #5E0101;
    text-align: center;
}

header span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #86441F;
}

#answers{
    text-align: center;
    margin: 0 10px;
}

#answers .eligible{
    display: inline-block;
    margin: 3px;
}

p{
    margin: 20px 20px 35px;
    opacity: 0.9;
    padding: 10px;
    text-align: center;
    background-color: #FDD2AD;
    border: 4px solid #FF9000;
    color: #B94B2F;
}

#quizz{
    margin-top: 40px;
    position: relative;
    z-index: 100;
}
