/*
    Authors:
    Daniel Olea Martín <dom.olea@gmail.com>
    Bruno Ordozgoiti Rubio <ordozgoitipiedras@gmail.com>

    Copyright (c) 2013 Zaka the Alpaca
    All Rights Reserved.

    BANANAPPS CONFIDENTIAL
    __________________ 
    NOTICE:  All information contained herein is, and remains
    the property of Bananapps and its suppliers,  if any.  The 
    intellectual and technical concepts contained  herein are 
    proprietary to Bananapps and its suppliers and may be 
    covered by U.S. and Foreign Patents, patents in process, 
    and are protected by trade secret or copyright law. 
    Dissemination of this information or reproduction of this 
    material is strictly forbidden unless prior written 
    permission is obtained from Bananapps.
*/

header{
    background-color: rgba(255,252,0,1);  
    border-bottom: 3px solid #5E0101;
    position: relative;
}

header span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #BD2C4F;
}

#scroll{
    height: 55%;
    overflow: hidden;
    position: relative;
}

ul{
    list-style: none;
    padding: 25px;
    height: auto;
    position: relative;
    z-index: 10;
    top: 0;
}

li{
    margin: 10px 0;
    padding-right: 40px !important;
}

li .type{
    font-family: monospace;
    font-size: 14px;
    color: #4997bf;
}

#save{
    width: 85px;
    height: 80px;
    background: url('../rsc/word-definition/save-button.png') 0 0 no-repeat transparent;
    position: absolute;
    bottom: 13px;
    right: 15px;
    z-index: 100;
}

#save.tapped{
    background-position: 0 -81px;
}

#save.saved{
    background-position: 0 -162px;
}

#saved_feedback{
    color: white;
    background-color: #86db4e;
    padding: 3px 19px 3px 10px;
    position: absolute;
    bottom: 34px;
    border: 3px solid white;
    right: 82px;
    display: none;
    z-index: 100;
}
#loader{
    position: absolute;
    top: 38%;
    width: 100%;
    height: 80px;
    background: url("../rsc/common/loader.GIF") no-repeat 50% 0 transparent;
}

.selected.green, .eligible.green{
    background: url('../rsc/word-definition/tick.png') 95% 50% no-repeat white;
}

#custom-def{
    float: left;
    height: 100%;
    width: 60px;
    border-right: 2px solid #5E0101;
    background: url('../rsc/word-definition/custom-def.png') 50% 50% no-repeat #B4FF57;
}

#custom-def.tapped{
    background-color: #86db4e;
}

#word{
    text-align: center;
    height: 100%;
}

.selected .definition{
    border: none;
}

textarea{
    width: 90%;
}